@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$gray: #f2f2f2;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

body,
#root,
.app {
  margin: 0;
}

.app {
  .navigation {
    width: 100vw;
    z-index: 100;
    height: 60px;
    padding: 0 20px;
    display: flex;
    background: $gray;
    justify-content: space-between;
    align-items: center;
    .logo {
      h5 {
        margin: 0;
        font-size: large;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 0 10px;
        color: black;
        text-decoration: none;
      }

      a.active {
        text-decoration: underline;
      }

      .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 2px solid black;
        }
      }
    }
  }
  .page-wrapper {
    padding: 40px 20px;
    height: calc(100vh - 60px);
    overflow: auto;

    form {
      display: flex;
      flex-direction: column;
      max-width: 500px;

      input {
        margin-bottom: 20px;
      }
    }

  }

  #landing-page {
    background: url(../statics/bg.png) no-repeat center center fixed;
    background-size: cover;
  }

  #shop-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    .record {
      position: relative;

      img {
        width: 100%;
      }

      .add-button {
        position: absolute;
        top: 0;
        right: 20px;
        color: white;
        background-color: black;
        padding: 10px;
        font-size: 30px;
      }
    }
  }
}
